.todo-list {
  list-style: none;
  padding: 1rem;
  background: #fff;
  margin: 0;
}

.list-element{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10px;
  margin: 12px 0;
  color: #333;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
}

.list-element:hover{
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.list-element:last-child{
  border-bottom: none;
}

.text{
  max-width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 20px;  
  cursor: pointer;
}

.text:hover{
  color: orangered;
}

.options {
  margin-left: 10px;
  position: relative;
}

.complete .text { 
  text-decoration: line-through;
  color: #666;
}

.text .checkbox {
  margin-right: 10px;
  cursor: pointer;
}

.close {
  border: none;
  background: transparent;
  position: relative;
  width: 32px;
  height: 23px;
  cursor: pointer;
}

.close:hover {
  opacity: 1;
}

.close:before, .close:after {
  position: absolute;
  left: 15px;
  top: 0;
  content: ' ';
  height: 23px;
  width: 2px;
  background-color: orangered;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}