.input{
  padding: 10px;
  border:none;
  font-size: 20px;
}

.btn {
  font-size: 15px;
  padding: 5px;
  min-width: 80px;
  margin-bottom: 0;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  background: orange;
  color: white;
  text-transform: uppercase;  
}