
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  color: white;
  text-transform: uppercase;
  background: orangered;
}


.form-group{
  display: flex;
  justify-content: center;
  align-items: stretch;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);

}

